joblib
streamlit
pandas
scikit-learn 
absl-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asn1crypto
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
category_encoders
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cryptography
cycler
dacite
dash
debugpy
decorator
deep-translator
defusedxml
Django
entrypoints
et_xmlfile
executing
Faker
fastjsonschema
favicon
filelock
Flask
flatbuffers
fonttools
fqdn
gast
gitdb
GitPython
google-pasta
googletrans
greenlet=
grpcio
h11
h2
h5py
hpack
hstspreload
htbuilder
htmlmin
httpcore
httpx
hyperframe
idna
ImageHash
imbalanced-learn
imblearn
importlib_metadata
ipykernel
ipython
ipython-genutils
ipython-sql
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-sql
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
llvmlite
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mlxtend
multimethod
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
openpyxl
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
patsy
phik
pillow
platformdirs
plotly
prettytable
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
puremagic
py4j
pyarrow
pybdc
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pymdown-extensions
pyodbc
pyOpenSSL
pyparsing
pyspark
python-dateutil
python-json-logger
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
sklearn-compat
smmap
sniffio
snowflake-connector-python
snowflake-snowpark-python
sortedcontainers
soupsieve
sql
SQLAlchemy
sqlparse
st-annotated-text
st-theme
stack-data
statsmodels
streamlit
streamlit-avatar
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tinycss2
toml
tomlkit
tornado
tqdm
traitlets
typeguard
types-python-dateutil
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
visions
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
ydata-profiling
zipp
